body {
    background-color: lightblue; /* custom background */
    font-family: Arial; /* font family */
    color: black; /* font color */
}

.header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: Verdana;
}

.nav {
    text-align: center;
    margin: 10px;
}

.main {
    margin: 20px;
    color: darkblue;
}

.video {
    margin: 20px;
    text-align: center;
    color: black;
}

img {
    display: block;
    margin: 10px auto;
}